<template name="create">
  <div id="login-bg">
      <div class="row create-forgot-forms-margins fade-in">
        <div>
          <label for="set-username">Username</label>
          <input id="set-username" type="text" class="validate">
        </div>
        <div>
          <label for="set-email">E-mail</label>
          <input id="set-email" type="email" class="validate">
        </div>
        <div>
          <label for="set-password">Password</label>
          <input id="set-password" type="password" class="validate">
        </div>
        <div>
          <label for="confirm-password">Confirm Password</label>
          <input id="confirm-password" type="password" class="validate">
        </div>
        <div class="margin-t15">
        <a class="bold-text" href="/login">Cancel</a>
        </div>
      </div>
      <button id="create-btn" class="waves-effect waves-light btn-large gold-bg fade-in" style="margin-top: 1px;" type="submit">Submit</button>
  </div>
</template>
