<template name="forgot">
  <div id="login-bg">
      <div class="row create-forgot-forms-margins fade-in">
        <div>
          <label for="forgot-email">Email</label>
          <input id="forgot-email" type="text" class="validate">
        </div>
        <div class="margin-t15">
        <a class="bold-text" href="/login">Cancel</a>
        </div>
      </div>
      <button id="forgot-btn" class="waves-effect waves-light btn-large gold-bg fade-in" style="margin-top: 1px;" type="submit">Submit</button>
  </div>
</template>
