<template name="languages">
  <div class="row tech-bg"> <!--Beginning of row div-->
      <div id="languages-intro" class="section scrollspy tech-text-padding">
        <h1>HTML, CSS, and JavaScript</h1>
        <p class="small-font">
          TALK MORE ABOUT DOM <br> <br>
          HTML, CSS, and JavaScript are all programming languages intended for web
          development. Together, they create the interactive web pages and applications
          that you use every day. This whole tutorial website was made by using them.
        </p>
      </div>
      <hr class="line-90">

      <div id="HTML" class="section scrollspy tech-text-padding">
        <h2>HTML</h2>
        <p class="small-font">
           Hypertext Marukup Language, or <span class="bold-text">HTML</span>, is
           a programming language designed to give structure to a web page. It allows
           you to lay out raw, unstyled content. While HTML alone is unlikely to
           produce aesthetically appealing web content, it can lay the necassary
           foundations to do so. If you do not have a codecademy account, make one.
           Use
           <a href="https://www.codecademy.com/learn/learn-html" target="_blank">codecademy's HTML tutorial</a>.
           Learning HTML will be very different from what you saw in the "Programming
           Fundamentals" section. Do not be alarmed. <br> <br>
           Exercises: <br>
           1. Right-click anywhere on the webpage and select "Inspect" (the wording
           may vary slightly from browser to browser) to open up the web inspector
           panel. Now scan the HTML which was used to lay out this tutorial web page.
           <br>
           2. Apply your newfound knowledge to build your very own web page.
           The subject matter can be whatever you like! Use
           <a href="http://repl.it" target="_blank">repl.it</a>. Search "HTML" and
           click on "HTML, CSS, JS: The languages that make up the web." Begin writing
           your HTML.
        </p>
      </div>
      <hr class="line-90">

      <div id="CSS" class="section scrollspy tech-text-padding">
        <h2>CSS</h2>
        <p class="small-font">
          An unstyled web page will be lackluster. Cascading Style Sheets, or
          <span class="bold-text">CSS</span>, is a programming language designed
          for styling HTML content. With the addition of CSS, you can produce
          visually stunning web pages. When you used the web inspector panel earlier,
          you may have been puzzled how such basic elements produced this website.
          The answer is CSS. Use
          <a href="https://www.codecademy.com/learn/learn-css" target="_blank">codecademy's CSS tutorial</a>
          to learn the basics of CSS.
          <br> <br>
          Exercises: <br>
          1. Use your new skillset to style your HTML code from the previous exercise
          however you would like. <br>
          2. Open up the web inspector panel and try to find out the CSS used to
          style this web page.
        </p>
      </div>
      <hr class="line-90">

      <div id="JS" class="section scrollspy tech-text-padding">
        <h2>JavaScript</h2>
        <p class="small-font">
          <span class="bold-text">JavaScript</span> (hereforth referred to as JS)
          is a programming language intended to add interactivity to a web page.
          HTML adds structure; CSS adds style; JS adds functionality. A button laid
          out in HTML will not necassarily perform the desired function unless JS
          code is written to coordinate the outcome of an action upon the button.
          This <a href="https://www.codecademy.com/learn/learn-javascript" target="_blank">codecademy JS tutorial</a>
          is very basic. After completing it, I recommend you move onto this
          <a href="https://www.codecademy.com/learn/introduction-to-javascript" target="_blank">other codecademy JS tutorial</a>
          While there is a decent amount of overlap between the two, you should
          complete each in its entirety. Practice and repetition are very important.
          You will find that each tutorial also repeats material covered previously
          explored in the Programming Fundamentals lesson. Hammering in these concepts
          is important! Stick with it. <br> <br>

          Exercises: <br>
          1. Look up the concept of truthy and falsey values as it applies to JS.
          <br>
          2. Use JS to add some interactive features to your webpage
          <br>
        </p>
      </div>
      <hr class="line-90">

      <div id="languages-conclusion" class="section scrollspy tech-text-padding">
        <h2>Concluding remarks</h2>
        <p class="small-font">
          HTML, CSS, and JS can collaboratively create beautifully functional web
          content. In a web development role, these will be your most fundamental
          tools. You are advised to view the following video if you still have a
          shakey understanding of the topics discussed. <br>
          Additionally, <a href="https://html-css-js.com/">https://html-css-js.com/</a>
          is a convenient resource I recommend you use to augment your learning
          experience. <br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/wrdR5Su_Stg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        </p>
      </div>
    </div>

    <!--Display TOC on right side-->
    <div class="col hide-on-med-and-down s6 m2 l1 xl10">
      <div class="toc-wrapper pinned">
        <ul class="section table-of-contents margin-r15">
          <li><a href="#languages-intro" class="white-text">Introduction</a></li>
          <li><a href="#HTML" class="white-text">HTML</a></li>
          <li><a href="#CSS" class="white-text">CSS</a></li>
          <li><a href="#JS" class="white-text">JavaScript</a></li>
          <li><a href="#languages-conclusion" class="white-text">Concluding remarks</a></li>
        </ul>
        <div class="center">
          <p class="white-text flow-text roboto quote">
            "After a long time of practicing, our work will become natural,
            skillfull, swift, and steady." <br>
            -Bruce Lee
          </p>
        </div>
        <a href="/technology/libraries" class="waves-effect waves-light btn-large gold-bg center">Continue</a>
      </div>
  </div>  <!--End of row div-->
</template>
