 <template name="libraries">

  <div class="row tech-bg"> <!--Beginning of row div-->
      <div id="libraries-intro" class="section scrollspy tech-text-padding">
        <h1>Libraries</h1>
        <p class="small-font">
          <a href="https://en.wikipedia.org/wiki/Library_(computing)">Wikipedia's definition of a library</a>
          is "a collection of non-volatile resources used by computer programs,
          often for software development. These may include configuration data,
          documentation, help data, message templates, pre-written code and subroutines,
          classes, values or type specifications." Simply put, a <b>library</b> <em>is</em> a set
          of programming tools that other programmers have created for convenience
          of manufacturing a desirable behavior.

        </p>
      </div>
      <hr class="line-90">

      <div id="jQuery" class="section scrollspy tech-text-padding">
        <h2>jQuery</h2>
        <p class="small-font">
           jQuery
        </p>
      </div>
      <hr class="line-90">

      <div id="other" class="section scrollspy tech-text-padding">
        <h2>Other</h2>
        <p class="small-font">
           d3, Materialize
        </p>
      </div>
      <hr class="line-90">


    </div>

    <!--Display TOC on right side-->
    <div class="col hide-on-med-and-down s6 m2 l1 xl10">
      <div class="toc-wrapper pinned">
        <ul class="section table-of-contents margin-r15">
          <li><a href="#libraries-intro" class="white-text">Introduction</a></li>
          <li><a href="#jQuery" class="white-text">jQuery</a></li>
          <li><a href="#other" class="white-text">Other</a></li>
        </ul>
        <div class="center">
          <p class="white-text flow-text roboto quote">
            “The more that you read, the more things you will know, the more that you learn, the more
              places you’ll go." <br> - Dr. Seuss
          </p>
        </div>
        <a href="/technology/libraries" class="waves-effect waves-light btn-large gold-bg center">Continue</a>
      </div>
  </div>  <!--End of row div-->
</template>
